/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Marcellus&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  font-size: 10px;
}

body {
  background-color: #000000;
  color: #fff;
  font-size: 16px;
}

.container {
  max-width: 141rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  max-width: 141rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.4rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 5.4rem;
}
.nav-link {
  opacity: 0.5;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 125%;
  text-align: center;
  color: #fff;
}
.nav .active {
  opacity: 1;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 125%;
  text-align: center;
  color: #fff;
  position: relative;
}
.nav .active::after {
  content: "";
  position: absolute;
  display: block;
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 5rem;
  width: 4.6rem;
  height: 0.2rem;
  background: linear-gradient(172deg, #26fff2 0%, #326cff 100%);
}

.control {
  display: flex;
  align-items: center;
  gap: 7.5rem;
}
.control-btn {
  background-color: transparent;
}
.control-btn__search {
  background-image: url("images/search.svg");
  width: 1.8rem;
  height: 1.8rem;
}
.control-btn__search {
  background-image: url("images/search.svg");
  width: 1.8rem;
  height: 1.8rem;
}
.control-btn__notice {
  background-image: url("images/notice.svg");
  width: 2.1rem;
  height: 2.3rem;
}
.control-btn__account {
  background-image: url("images/account.svg");
  width: 1.8rem;
  height: 1.9rem;
}

/* banner */
.banner {
  background: #010101;
  box-shadow: 100px 0 100px 0 #000;
  padding-top: 12.2rem;
  padding-bottom: 20.3rem;
  max-width: 56.2rem;
}
.banner__wrapper {
  border-bottom: 0.2rem solid #2f2e2e;
  position: relative;
}
.banner__wrapper__image {
  position: absolute;
  right: 0;
  height: 76.4rem;
  bottom: 0;
  z-index: -1;
}
.banner__title {
  max-width: 53rem;
  font-family: "Marcellus", sans-serif;
  font-weight: 400;
  font-size: 8rem;
  line-height: 87%;
  color: #fff;
  margin-bottom: 6.3rem;
}
.banner__info {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 62%;
  color: #fff;
  margin-bottom: 2.5rem;
}
.banner__info-year {
  margin-right: 1.8rem;
}
.banner__info-age {
  margin-right: 1.8rem;
  position: relative;
  width: 6rem;
  display: inline-block;
  text-align: center;
}
.banner__info-age::before {
  content: "";
  display: block;
  width: 100%;
  height: 2.4rem;
  border-radius: 5rem;
  background-image: url("images/age.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -0.6rem;
  left: 0;
  right: 0;
}
.banner__info-time {
  margin-right: 4.1rem;
}
.banner__info-rating {
  position: relative;
}
.banner__info-rating::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url("images/star.svg");
  top: 2px;
  right: -31px;
}
.banner__text {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 156%;
  color: #c2c2c2;
  max-width: 50rem;
  margin-bottom: 3.5rem;
}
.banner__control__btn--main {
  display: inline-block;
  width: 14.1rem;
  height: 5rem;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 125%;
  color: #fff;
  text-shadow: 17px 17px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10rem;
  background: linear-gradient(172deg, #26fff2 0%, #326cff 100%);
  box-shadow: 0 4px 50px 0 rgba(50, 108, 255, 0.5);
  margin-right: 3rem;
  position: relative;
  padding-left: 2.5rem;
  transition: 0.2s ease box-shadow;
}
.banner__control__btn--main:hover {
  box-shadow: 0 0 0 0 rgba(50, 108, 255, 0.5);
}
.banner__control__btn--main::after {
  content: "";
  width: 1.4rem;
  height: 1.8rem;
  display: block;
  background-image: url("images/play.svg");
  position: absolute;
  left: 2.4rem;
  top: 1.7rem;
}
.banner__control__btn--more {
  display: inline-block;
  width: 19.5rem;
  height: 5rem;
  border-radius: 10rem;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 125%;
  color: #323232;
  text-shadow: 17px 17px 20px 0 rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
  transition: 0.2s ease background-color, 0.2s ease color;
}
.banner__control__btn--more:hover {
  color: #FFFFFF;
  background-color: transparent;
}

/* posters */
.section {
  padding-top: 6rem;
}
.section__h2 {
  margin-bottom: 4rem;
}
.section__h2 a {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 71%;
  color: #fff;
  position: relative;
  position: relative;
  padding-left: 1.9rem;
}
.section__h2 a::before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  border-radius: 5rem;
  height: 3.5rem;
  width: 0.8rem;
  top: 0;
  left: 0;
  background: linear-gradient(172deg, #26fff2 0%, #326cff 100%);
}

.movies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4.1rem;
  width: 100%;
  margin-bottom: 6rem;
}
.movies:last-child {
  margin-bottom: 5.5rem;
}
.movies__item {
  width: 20.6rem;
  height: 30.9rem;
  transition: 0.2s ease box-shadow;
  border-radius: 2rem;
}
.movies__item:hover {
  box-shadow: 0 0 20px 0 rgba(44, 176, 249, 0.5);
}
.movies__img {
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}/*# sourceMappingURL=style.css.map */