@import "reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Marcellus&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "variables.scss";

html {
  font-size: 10px;
}

body {
  background-color: #000000;
  color: #fff;
  font-size: 16px;
}

.container {
  max-width: 141rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  max-width: 141rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.4rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 5.4rem;
  &-link {
    opacity: 0.5;
    font-family: $font-family;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 125%;
    text-align: center;
    color: #fff;
  }
  .active {
    opacity: 1;
    font-family: $font-family;
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 125%;
    text-align: center;
    color: #fff;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      display: block;
      margin-top: 0.5rem;
      width: 100%;
      border-radius: 5rem;
      width: 4.6rem;
      height: 0.2rem;
      background: linear-gradient(172deg, #26fff2 0%, #326cff 100%);
    }
  }
}

.control {
  display: flex;
  align-items: center;
  gap: 7.5rem;
  &-btn {
    background-color: transparent;
    &__search {
      background-image: url('images/search.svg');
      width: 1.8rem;
      height: 1.8rem;
    }
    &__search {
      background-image: url('images/search.svg');
      width: 1.8rem;
      height: 1.8rem;
    }
    &__notice {
      background-image: url('images/notice.svg');
      width: 2.1rem;
      height: 2.3rem;
    }
    &__account {
      background-image: url('images/account.svg');
      width: 1.8rem;
      height: 1.9rem;
    }
  }
}

/* banner */
.banner {
  background: #010101;
  box-shadow: 100px 0 100px 0 #000;
  &__wrapper {
    border-bottom: 0.2rem solid #2f2e2e;
    position: relative;
    &__image {
      position: absolute;
      right: 0;
      height: 76.4rem;
      bottom: 0;
      z-index: -1;
    }
  }
  padding-top: 12.2rem;
  padding-bottom: 20.3rem;
  max-width: 56.2rem;
  &__title {
    max-width: 53rem;
    font-family: $font3;
    font-weight: 400;
    font-size: 8rem;
    line-height: 87%;
    color: #fff;
    margin-bottom: 6.3rem;
  }
  &__info {
    font-family: $font-family;
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 62%;
    color: #fff;
    margin-bottom: 2.5rem;
    &-year {
      margin-right: 1.8rem;
    }
    &-age {
      margin-right: 1.8rem;
      position: relative;
      width: 6rem;
      display: inline-block;
      text-align: center; 
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 2.4rem;
        border-radius: 5rem;
        background-image: url('images/age.svg');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: -0.6rem;
        left: 0;
        right: 0;
      }
    }
    &-time {
      margin-right: 4.1rem;
    }
    &-rating { 
      position: relative;
      &::after {
        position: absolute;
        content: "";
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        background-image: url('images/star.svg');
        top: 2px;
        right: -31px;
      }
    }
  }
  &__text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 156%;
    color: #c2c2c2;
    max-width: 50rem;
    margin-bottom: 3.5rem;
  }
  &__control {
    &__btn--main {
      display: inline-block;
      width: 14.1rem;
      height: 5rem;
      font-family: $font-family;
      font-weight: 800;
      font-size: 1.6rem;
      line-height: 125%;
      color: #fff;
      text-shadow: 17px 17px 20px 0 rgba(0, 0, 0, 0.3);
      border-radius: 10rem;
      background: linear-gradient(172deg, #26fff2 0%, #326cff 100%);
      box-shadow: 0 4px 50px 0 rgba(50, 108, 255, 0.5);
      margin-right: 3rem;
      position: relative;
      padding-left: 2.5rem;
      transition: .2s ease box-shadow;
      &:hover {
        box-shadow: 0 0 0 0 rgba(50, 108, 255, 0.5);
      }
      &::after {
        content: '';
        width: 1.4rem;
        height: 1.8rem;
        display: block;
        background-image: url('images/play.svg');
        position: absolute;
        left: 2.4rem;
        top: 1.7rem;
      }
    }
    &__btn--more {
      display: inline-block;
      width: 19.5rem;
      height: 5rem;
      border-radius: 10rem;
      font-family: $font-family;
      font-weight: 800;
      font-size: 1.6rem;
      line-height: 125%;
      color: #323232;
      text-shadow: 17px 17px 20px 0 rgba(0, 0, 0, 0.3);
      background-color: #FFFFFF;
      transition: .2s ease background-color, .2s ease color;
      &:hover {
        color: #FFFFFF;
        background-color: transparent;
      }
    }
  }
}


/* posters */
.section {
  padding-top: 6rem;
  &__h2 {
    margin-bottom: 4rem;
  }
  &__h2 a {
    font-family: $font-family;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 71%;
    color: #fff;
    position: relative;
    position: relative;
    padding-left: 1.9rem;
    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      border-radius: 5rem;
      height: 3.5rem;
      width: 0.8rem;
      top: 0;
      left: 0;
      background: linear-gradient(172deg, #26fff2 0%, #326cff 100%);
    }
  }
}

.movies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4.1rem;
  width: 100%;
  margin-bottom: 6rem;
  &:last-child {
    margin-bottom: 5.5rem;
  }
  &__item {
    width: 20.6rem;
    height: 30.9rem;
    transition: .2s ease box-shadow;
    border-radius: 2rem;
    &:hover {
      box-shadow: 0 0 20px 0 rgba(44, 176, 249, 0.5);
    }
  } 
  &__img {
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
  }
}
