- var pageTitle = 'Online TV'

doctype html
html(lang="en")
  head
    title= pageTitle
    style
      include ../css/style.css
  body 
    include modules/header
    
    section.banner__wrapper
      img(src="images/banner.png", alt="banner").banner__wrapper__image
      .container
        .banner 
          h1.banner__title Zack Snyder's Justice League
          .banner__info
            span.banner__info-year 2021
            span.banner__info-age 18+
            span.banner__info-time 4h 2min
            span.banner__info-rating 8.8
          p.banner__text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
          .banner__control
            button.banner__control__btn.banner__control__btn--main Watch
            button.banner__control__btn.banner__control__btn--more More information

    section.section 
      .container
        h2.section__h2 
          a(href="#!") Trending TV Shows >
        .movies 
          .movies__item
            a(href="#!").movies__link
              img(src="images/posters/poster-01.png", alt="01").movies__img
          .movies__item
            a(href="#!").movies__link
              img(src="images/posters/poster-02.png", alt="02").movies__img
          .movies__item
            a(href="#!").movies__link
              img(src="images/posters/poster-03.png", alt="03").movies__img
          .movies__item
            a(href="#!").movies__link
              img(src="images/posters/poster-04.png", alt="04").movies__img
          .movies__item
            a(href="#!").movies__link
              img(src="images/posters/poster-05.png", alt="05").movies__img
          .movies__item
            a(href="#!").movies__link
              img(src="images/posters/poster-06.png", alt="06").movies__img
        h2.section__h2 
          a(href="#!") Trending Movies >
        .movies 
          .movies__item
            a(href="#!").movies__link
              img(src="images/posters/poster-07.png", alt="07").movies__img
          .movies__item
            a(href="#!").movies__link
              img(src="images/posters/poster-08.png", alt="08").movies__img
          .movies__item
            a(href="#!").movies__link
              img(src="images/posters/poster-09.png", alt="09").movies__img
          .movies__item
            a(href="#!").movies__link
              img(src="images/posters/poster-10.png", alt="10").movies__img
          .movies__item
            a(href="#!").movies__link
              img(src="images/posters/poster-11.png", alt="11").movies__img
          .movies__item
            a(href="#!").movies__link
              img(src="images/posters/poster-12.png", alt="12").movies__img

    include modules/footer
